@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(248, 249, 250);
}

/* navbar */

.navbar-brand:hover{
    color: white;
}

.navbar-brand{
    color: white;
    font-weight: 500;
}

.navbar-nav a{
    color: rgb(13, 202, 240);
}  

.navbar-nav a:hover{
    color: white;
}


/* login page */

.card{
    width: 25%;
}

.card h3{
    text-align: center;
    padding-bottom: 10%;
}

.card{
    padding-top: 2%;
    padding-bottom: 3%;
    border-radius: 10%;
    border: 0.08em solid black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


/* match page */

#matchCard{
    border-radius: 0%;
}

#matchTitle{
    text-align: center;
    margin: 4%;
}