@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2C3E50;
  background-color: #F9FAF9;
}


/* Homepage */

main h1{
  padding-top: 3.5rem;
}

.hero {
  text-align: center;
  padding: 90px 20px;
  background-color: #F5F5F3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.hero h1 {
  font-weight: 700;
  font-size: 3rem;
}

.hero h4 {
  font-weight: 400;
  margin-top: 1rem;
} 

.columns .col-lg-4{
  margin-top: 5%;
  text-align: center;
}

.columns .col-lg-4 img{
  background-color: #7CC1A4;
}

.columns h3{
  padding-top: 1rem;
  color:#6BA292;
}


/* navbar */

.bg-forest {
  background-color: #6BA292 !important;
}

.navbar-brand:hover{
    color: #FFFFFF;
}

.navbar-brand{
    color: #FFFFFF;
    font-weight: 500;
}

.navbar-nav a{
    color: #FFFFFF;
}  

.navbar-nav a:hover{
    color: #2C3E50;
}


/* Login page */

.card{
  width: 25%;
}

.card h3{
    text-align: center;
    padding-bottom: 10%;
}

.card{
  padding-top: 2%;
  padding-bottom: 3%;
  border-radius: 3%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 2rem;
}


/* Forms */

.form-control {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-control:focus {
  box-shadow: 0 0 8px rgba(129, 199, 132, 0.5); 
  border-color: #81C784;
}

.form-select:focus {
  box-shadow: 0 0 8px rgba(129, 199, 132, 0.5);
  border-color: #81C784;
}

.form-select option {
  background-color:#F5F5F3;
}


/* Matches page */

.matchCard{
  border-radius: 0%;
  border: 0;
  padding: 0.5rem 0;
  align-self: flex-start !important;
}

#matchTitle{
  text-align: center;
  margin: 4%;
}

#matchTitle h3 {
  color: #6BA292;
} 

#matchTitle p {
  font-weight: 500;
  font-size: 1.1rem;
}


/* Buttons */

.btn{
  color: #FFFFFF;
  background-color: #7CC1A4;
}

.btn:hover{
  background-color:#F9FAF9;
  color:#2C3E50;
  box-shadow: 0 0 8px rgba(129, 199, 132, 0.5);
  border-color: #81C784;
}

/* Profile page */

#profile{
  margin-top: 3rem;
  padding: 5%;
  border-radius: 2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 35%;
  background-color: #FFFFFF;
}

#profile h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

#profile h6 {
  font-weight: 400;
} 

.profile-title {
  color:#7CC1A4;      
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 2px solid #7CC1A4;
  margin-bottom: 8%;
}


